<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="login-page">
    <div class="login-container">
        <img src="/static/brasilprev-logo.png" alt="Logo Brasilprev" class="login-logo">
        <h2>Login</h2>
        {% if erro %}
            <p style="color:red;">{{ erro }}</p>
        {% endif %}
        <form action="/login" method="post">
            <label>Email:</label><br>
            <input type="email" name="email"><br><br>
            <label>Senha:</label><br>
            <input type="password" name="senha"><br><br>
            <button type="submit">Entrar</button>
        </form>
    </div>
</body>
</html>